header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background: linear-gradient(to bottom right, rgba(98, 175, 51, 0.8), rgba(255, 255, 0, 0.8));
}  
  header img {
    width: 300px;
    height: auto;
  }
  .reserve-button {
    background-color: #f9a602;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .reserve-button:hover {
    background-color: #ffd000;
  }
  

 