main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Add wrap property to wrap the containers onto new lines */
}

div {
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  flex: 1 0 30%; /* Add flex properties to set the width of the containers */
}

@media (max-width: 768px) { /* Add media query for screens smaller than 768px */
  div {
    flex-basis: 100%; /* Set the basis to 100% to make the containers stack vertically */
  }
}

h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.order-button {
  background-color: #f9a602;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 10px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #ffd000;
}