nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #1abc9c, #a7ff83);
  height: 80px;
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items:center;
  list-style: none;
  margin: 0;
  padding-top: 1.5rem;
  height: 100%;
  width: 100%;
  padding-left: 0;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: rgb(242, 255, 3);
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
  nav li {
    margin: 1rem 0;
  }
}

.nav-image {
  display: block;
  margin: 0 1rem 0 0;
  padding-top: 0;
  height: 20%;
  width: 33%;
}


nav li:last-child {
  margin-right: 1rem;
}

/* .burger {
  display: block;
  grid-template-columns: 0;
} */